@import "base.css";

html {
    background-color:#000;
}

body {
    max-width: none;
    margin: 0.5em 5em 2em 5em;
}

p, ul {
    color: #ccc;
}

h1, h2, h3 {
    color: #ddd;
}

blockquote {
    background-color: #222;
    border-left: 3px solid #444;
    margin: 1rem -1rem 1rem calc(-1rem - 3px);
    padding: 1rem;
}

a {
    color:#ddd;
}

a:visited {
    color: #888;
}

pre {
    color: #ccc;
    scrollbar-color: #222 #000;
    background-color: #222;
}

