@import "base.css";

html {
    color:#1E4147;
    background-color:#fafafa;
}


h1, h2, h3 {
    color: #66f;
}

blockquote {
    background-color: #eee;
    border-left: 3px solid #444;
    margin: 1rem -1rem 1rem calc(-1rem - 3px);
    padding: 1rem;
}

a {
    margin: -1.35rem;
    color:#820;
}

a:before {
    content: "🔗 ";
}

a:visited {
    color: #868;
}

a.local:before {
    content: "🛩️ ";
    font-weight: bold;
}

a.gemini:before {
    content: "🚀 ";
}

a.gopher:before {
    content: "📜 ";
}

a.https:before {
    content: "🕸️ ";
    font-weight: bolder;
}

a.http:before {
    content: "🕸️ ";
    font-weight: lighter;
}

a.mumble:before {
    content: "🎤 ";
}

a.mailto:before {
    content: "✉️ ";
}

