/* Copied from https://gemini.circumlunar.space 2022-08-01 */

html {
	font-family: sans-serif;
	font-size:16px;
	line-height:1.6;
	color:#1E4147;
	background-color:#AAC789;
}

body {
	max-width: 920px;
	margin: 0 auto;
	padding: 1rem 2rem;
}

h1,h2,h3{
	line-height:1.2;
}

h1 {
	text-align: center;
	margin-bottom: 1em;
}

blockquote {
	background-color: #eee;
	border-left: 3px solid #444;
	margin: 1rem -1rem 1rem calc(-1rem - 3px);
	padding: 1rem;
}

ul {
	margin-left: 0;
	padding: 0;
}

li {
	padding: 0;
}

li:not(:last-child) {
	margin-bottom: 0.5rem;
}

a {
	position: relative;
	color:#AA2E00;
}

a:visited {
	color: #802200;
}

/*
a:before {
	content: '⇒';
	color:#AA2E00;
	text-decoration: none;
	font-weight: bold;
	position: absolute;
	left: -1.25rem;
}
*/

pre {
	background-color: #eee;
	margin: 0 -1rem;
	padding: 1rem;
	overflow-x: auto;
}

details:not([open]) summary,
details:not([open]) summary a {
	color: gray;
}

details summary a:before {
	display: none;
}

dl dt {
	font-weight: bold;
}

dl dt:not(:first-child) {
	margin-top: 0.5rem;
}

@media(prefers-color-scheme:dark) {
	html {
		background-color: #111;
		color: #eee;
	}

	blockquote {
		background-color: #000;
	}

	pre {
		background-color: #222;
	}
	
	a {
		color: #0087BD;
	}

	a:visited {
		color: #802200;
	}
}

label {
	display: block;
	font-weight: bold;
	margin-bottom: 0.5rem;
}

input {
	display: block;
	border: 1px solid #888;
	padding: .375rem;
	line-height: 1.25rem;
	transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
	width: 100%;
}

input:focus {
	outline: 0;
	border-color: #80bdff;
	box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
}


/* Additions for HtmGem */

.menu a {
    text-decoration: none;
}

.menu hr {
    color: red;
}

