@import "base.css";

html {
    color:#1E4147;
    background-color:#fafafa;
}


h1, h2, h3 {
    color: #66f;
}

blockquote {
    background-color: #eee;
    border-left: 3px solid #444;
    margin: 1rem -1rem 1rem calc(-1rem - 3px);
    padding: 1rem;
}

.menu a, .menu a:visited {
    color: #888;
}

.menu a:hover {
    color: #000;
}

.menu a.logo {
    color: #000;
}

.menu a.logo:hover {
    color: blue;
}

.menu hr {
    color: white;
}

#gmi a {
    margin: -0.7rem;
    color:#820;
}

#gmi a:before {
    content: "🔗 ";
}

#gmi a:visited {
    color: #868;
}

#gmi a.local:before {
    content: "🛩️ ";
    font-weight: bold;
}

#gmi a.gemini:before {
    content: "🚀 ";
}

#gmi a.gopher:before {
    content: "📜 ";
}

#gmi a.https:before {
    content: "🕸️ ";
    font-weight: bolder;
}

#gmi a.http:before {
    content: "🕸️ ";
    font-weight: lighter;
}

#gmi a.mumble:before {
    content: "🎤 ";
}

#gmi a.mailto:before {
    content: "✉️ ";
}

@media only screen and (max-width: 1024px) {
    
    #gmi a {
        margin: -2.9rem;
    }
}

