@import "base.css";

html {
    font-family: mono;
    color: #080;
    background-color: #000;
}

body {
    max-width: 76em;
}

h1, h2, h3 {
    color: #0b0;
}

blockquote {
    background-color: #010;
    border-left: 3px solid #444;
    border-color: #0b0;
    margin: 1rem -1rem 1rem calc(-1rem - 3px);
    padding: 1rem;
}

pre {
    scrollbar-color: #030 #010;
    background-color: #010;
    margin: 0 -1rem;
    padding: 1rem;
}

a {
    margin: -1.35rem;
    color: #090;
    font-weight: bold;
}

a:before {
    content: "A ";
}

a:visited {
    color: #050;
}

a.local:before {
    content: "L ";
    font-weight: bold;
}

a.gemini:before {
    content: "G ";
}

a.gopher:before {
    content: "g ";
}

a.https:before {
    content: "W ";
    font-weight: bolder;
}

a.http:before {
    content: "w ";
    font-weight: lighter;
}

a.mumble:before {
    content: "U ";
}

a.mailto:before {
    content: "M ";
}
